.main-content {
	margin-top: 5px;
	margin-left: 50px;
	margin-bottom: 20px;
	font-size: 20px;
	font-family: 'Source Sans Pro', sans-serif;

}
.container-segments {
	border-top: 1px solid black;
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 175%;
	margin-right: 50px;
}

.dessert-item {
	cursor: pointer;
}
